
@tailwind base;
@tailwind components;
@tailwind utilities;


.myimage{
    filter: brightness(40%)
}
.main{
    background-image:   url(./assets/images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    z-index: 100;
}
.hi{
    z-index: 100;
}
.colum{
    width: 700px;
}
.featured{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    /* overflow: scroll; */
}
.choose{
    background-image: url("./assets/images/choose.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cart{
    position: sticky;
    top: 0;
}
::-webkit-scrollbar{
    display: none;
}
 .control-next.control-arrow:before{
     border-left: 8px solid #fff; 
     background-color: black;
     font-size: larger;
     width: 200px;
     visibility: hidden;
    
}
.control-prev.control-arrow{
    visibility: hidden;
    /* width: 200px;
    font: bolder;
    background-color: black; */
}